$primary-color:#6eb7bb;
$primaryhover-color:#84d1d1;
$second1-color:#dbf3e5;
$second2-color:#ebf7f7;
$delet-color:#ed859b;
$reply-color:#fbb03b;
$text-color:#808080;
$btn-radius:0;
$btn-h:40px;
$btn-w:150px;
$card-h:400px;
$slide-h:300px;
$fig-h:50%;
$content-h:50%;
$line-h2:16px;
$bg-f:#6eb7bb;
$bg-hf:#84d1d1;
$bg-s:#dbf3e5;
$bg-s2:#ebf7f7;
$er-r:#ed859b;
$mes:#fbb03b;
$tx-b:#000000;
$tx-g:#808080;
$tx-nev:#e6e6e6;
$tx-h:#ffffff;

.text-g{
  color:$tx-g;
}

.w100{
  width: 100%;
}
.bordercolor{
  border:1px solid $primary-color;
}


.textblack{
  color:black;
}
.textprimary{
  color:$primary-color;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color-back{
  background-color: $second1-color;
}
.lilibtn {
  width: $btn-w;
  height: $btn-h;
  margin: 15px;
  padding-top: 8px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.lilibtn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}


.r-btn{
  background: $delet-color;
  color:white;
 }
 .g-btn{
  background: $primary-color;
  color:white;
 }
 .o-btn{
  background:  $second1-color;
  color:black;
  cursor: pointer;
 }
 .y-btn{
  background: $reply-color;
  color:white;
 }


//  form-control 
.formbc-color{
  background:$primary-color; 
}
.formbc-color:focus {
  color:black;
  background-color:$primary-color;
  border-color:$primary-color;
}

.border-radius0{
  border-radius: 0;
  border:2px solid $primary-color;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid $primary-color;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}





.line-h2{
  line-height: $line-h2;
}
.card-h{
  height: $card-h;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.slide-h{
  height:$slide-h;
}
.slide-h img { 
  height:$slide-h;
  width: $slide-h;  
  overflow: hidden;
}
.article-meta-author-portrait img {  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}


.card-h:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.fig-h{
  height:$fig-h;
}
.pic-h{
  height: 100%;
  overflow: hidden;
}
.content-h{
  height:$content-h;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color:$text-color;
  background-color: #fff;
  border: 1px solid $primaryhover-color;
  margin-right: 20px;
}

.page-link:hover {
  z-index: 2;
  color: $text-color;
  text-decoration: none;
  background-color: $primaryhover-color;
  border-color: $primaryhover-color;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 20px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color:$primary-color;
  border-color: $primary-color;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color:$primaryhover-color;
}

//---------------分頁標籤

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}

.nav-tabs {
  border-bottom: 1px solid $primary-color;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: $primary-color $primary-color $primary-color;
}

.nav-tabs .nav-link.disabled {
  color: $text-color;
  background-color: $primary-color;
  border-color: $primary-color;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $primaryhover-color;
  background-color: white;
  border-color: $primary-color $primary-color $primaryhover-color;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.profile-edit-btn{
  border: none;
  // border-radius: 1.5rem;
  width: 100%;
  // padding: 2%;
  font-weight: 400;
  background: $delet-color;
  // color: $bg-f;
  cursor: pointer;
}






.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
