.caOrdermain{
    background-color:#dbf3ef;
    height: 200px;
}
.caOrdermaintext{
    border-bottom: 1px solid #6eb7bb;
    width: 100px;
    margin: auto;
}
.textcolor{
    color:#6eb7bb;
}
.yuruOrdermaintext{
    width: 100%;
}
