/*--------------------color------------------------------*/
$bg-f:#6eb7bb;
$bg-hf:#84d1d1;
$bg-s:#dbf3e5;
$bg-s2:#ebf7f7;
$er-r:#ed859b;
$mes:#fbb03b;
$tx-b:#000000;
$tx-g:#808080;
$tx-nev:#e6e6e6;
$tx-h:#ffffff;



body{
    padding-top: 7rem;
    font-size: 16px;
}
@media (max-width: 991px) {
    body{
        padding-top: 16.5rem;
    }
}
h5{
    font-size: 18px;
}
h4{
    font-size: 20px;
}
h3{
    font-size: 24px;
}
h2{
    font-size: 36px;
}
.border-f{
    border: 1px solid $bg-f;
}
.table-hover tbody tr:hover {
    background-color:$bg-s2;
}
.text-f{
    color:$bg-f;
}
.text-w{
    color:$tx-h;
}
.text-b{
    color:$tx-b;
}
.txt_er-r{
    color: $er-r;
}
.txt_mes{
    color:$mes ;
}
.bg-first{
    background: $bg-f ;
}
.bg-hf{
    background: $bg-hf ;
}
.bg-s{
    background: $bg-s ;
}
.bg-s2{
    background: $bg-s2 ;
}
.bg_er-r{
    background: $er-r;
}
.bg_mes{
    background:$mes ;
}
.bg_xxx{
    background: #dbf3ef;
}
.flex{
    display: flex;
}
.myMOUSE{ 
    cursor: pointer;
}
.ellen-fas{
    font-size: 1.5rem;
}
.f_w400{
    font-weight:900;
}
.ellen_hidden{
    overflow:hidden;
}
.pl0{
    padding-left: 5rem;
    padding-right: 5rem;
}
a:hover{
    color:#ffffff;
}
//-----------------------!Loing------------------------------------

.panel {
    h2{ 
        margin:0 0 8px 0;
    }
    p { 
        line-height:24px;
    }
}
.login-form .form-control {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid $bg-f;
  border-radius: 0px;
  height:3rem;
  padding:5px;
//   margin:10px;
}
.main-div {
    border: 2px solid $bg-f;
    margin: 10px auto ;
  padding:2rem 5rem;
  max-width: 50%;

}

.login-form  .btn.btn-primary {
  background: $mes none repeat scroll 0 0;
  border-color: $mes;
  color: #ffffff;
  width: 100%;
  height: 50px;
//   line-height: 50px;
//   padding: 0;
}

// ----------------------!!Nav------------------------------------

.ellen-span{
    border-right:1px solid #fff;
}
.navbar-dark .navbar-nav  {
    // color:$tx-nev !important;
}
.show > .nav-link {
    color: #fff;
    background-color: $bg-f !important;
}
.nav-item {
    a{
        font-size: 1rem;
    }
}
.dropdown-menu {
    background-color: $tx-h !important ;
    // border: 1px solid $tx-nev !important;
    // color:$tx-nev !important;
    }
.dropdown-item:hover, .dropdown-item:focus {
    color: $tx-h !important;
    background-color: $bg-f !important;
    }
.r{
    position: relative;
    margin-bottom: 1rem;
    }
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    img{
        width: 10rem;
    }
}
.navbar_h{
    padding:1rem 0;
}
//------------------------!Mabers--------------------------------------
.table {
    tbody,thead,th,td{
    border:0 !important;   
    }
    
}

// ----------------------!!SubMail------------------------------------
.ellen-email{
    padding: 0.5rem;
}
.btn{
    border-radius: 0;
}
.ellen-h{
    height: 36px;
    margin: 0 !important;
}
h5{
    margin: 0;
}
.ellen-color-w{
    color:#fff;
}
input{
    // width: 3rem;
    padding: 5px;
    // border: 1px solid $bg-f;
}
//---------------------!!Hero------------------------------------------------

.ellen-hero{
    width: 100%;
    min-height: 30rem;
        // max-height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position:center center;
}
.ellen-h75{
    height: 60px ;
    
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ellen-hidd{
    overflow:hidden;
    width: 100%;
    height: 20rem;
    // line-height: 20rem;
    // border: 1px solid red;
    // position: relative;
}
.ellen-us{
    width: 100%;
    height: 100%;
    // overflow:hidden;
    object-fit: cover;
    object-position:center center;
    
}
.ellen-pdn{
    padding: 0 ;
    // justify-content: space-around;
}
.ellen-pad{
    padding:0 10px;
}

.ellen_btn >a:hover{
    color:$tx-h;
    background: $bg-hf;
}
.ellen_hidbox{
    overflow:hidden;
    width: 100%;
    height: 10.5rem;

}
.ellen_classbox{
    overflow:hidden;
    width: 100%;
    object-fit: cover;
    object-position:center center;
}

//---------------------!!About------------------------------------------------

.box>.icon {
    text-align: center;
    position: relative;
}

.box>.icon>.image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: $bg-f;
    vertical-align: middle;
}

.box>.icon:hover>.image {
    background: $mes;
}

.box>.icon>.image>i {
    font-size: 36px !important;
    color: #fff !important;
}

.box>.icon:hover>.image>i {
    color: white !important;
}

.box>.icon>.info {
    margin-top: -24px;
    background:$bg-s2;
    padding: 15px 0 10px 0;
}

.box>.icon:hover>.info {
    border-color: $bg-s2;
    color: white;
}

.box>.icon>.info>h3.title {
    font-family: "Roboto", sans-serif !important;
    color: #222;
    font-weight: 500;
}

.box>.icon>.info>p {
    font-family: "Roboto", sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.box>.icon:hover>.info>h3.title,
.box>.icon:hover>.info>p,
.box>.icon:hover>.info>.more>a {
    color: #222;
}

.box>.icon>.info>.more a {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box>.icon:hover>.info>.more>a {
    color: #fff;
    padding: 6px 8px;
    background-color: $mes;
}

.box .space {
    height: 30px;
}
//---------------------!! College---text_Classification--------------------------

.ellen-boxbh{
    min-height: 9.5rem;
    // border:1px solid red;
}
.ellen-boxh{
    min-width: 9.5rem;
    max-height: 6.5rem;
    // border:1px solid red;
}
.ellen-bt{
    border-top: 1px solid $tx-g; 
}

// --------------------!! College---Items----------------------------------------
@media (max-width: 1190px) {
    .col-md-3{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;  
    }
    
}
@media (max-width: 991px) {
    .col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    
}
@media (max-width: 765px) {
    .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-image{
        // min-height: ;
        height: 100%;
    }
}

.product-grid {
    text-align: left;
    border: 1px solid $bg-f;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.product-grid .product-image {
    position: relative;
    transition: all .3s ease 0s
}
.product-image{
    
    // height: 100%;
}
.product-content{
    min-height: 10rem;
}
.product-grid{
min-height: 10rem;
}
.product-grid .product-image a {
    display: block
}

.product-grid .product-image img {
    width: 100%;
    height: auto
}
.product-grid .social {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}
.product-grid:hover .social {
    opacity: 1;
    top: 50%
}
.product-grid .social li {
    display: inline-block
}
.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}
.product-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777
}
.product-grid .social li a:after,
.product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}
.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}
.product-grid .social li a:hover:after,
.product-grid .social li a:hover:before {
    opacity: 1
}
.product-new-label{
    position: absolute;
    left: 20px;
    top: -35px;
    overflow: hidden;
    border:2px solid $bg-f;
    border-radius: 50%;
    width: 60px;
    height: 60px;    
    z-index: 999;
}
.ellen-teach-p1{
    width: 100%;
}
.product-grid .product-discount-label {
    position: absolute;
    right: 5px;
    top: -5px;
    background-size: contain;
    width: 60px;
    height: 55px;
}
.product-grid .product-discount-label {
    // background-color: #333;
    left: auto;
    // right: 0
}
.product-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1;
}
.product-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.product-grid .product-content {
    background-color: #fff;
    text-align: left;
    padding: 1rem 1rem;
    // margin: 0 auto;
    // position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    z-index: 1;
    transition: all .3s;
}

.product-grid:hover .product-content {
    bottom: 0;
}
.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600
}
.ellen-p{
    color:#666666;
    font-size: 0.9rem;
    line-height: 2rem;
    margin: 0;
}
// -------------------------!!classText------------------------------------
.ellen_menue_box{
    min-width: 380px;
    max-width: 100rem;
}
.ellen_menue{
    border:1.2rem solid $bg-f;
    border-radius: 0;
}


// --------------------------!!ProfessorId----------------------------------
// .emp-profile{
//     padding: 3%;
//     margin-top: 1%;
//     margin-bottom: 3%;
//     border-radius: 0.5rem;
//     background: #fff;
// }
.ellen_hidbox1{
    overflow:hidden;
    width: 10.5rem;
    height: 10.5rem;
    border: 4px solid $bg-f;
    border-radius: 50% ;
    // text-align: center;
    img{
        width: 100%;
        height: 100%;
    }
}
.ellen_hidbox2{
    overflow:hidden;
    width: 90%;
    // height: 50%;
    // height: 10.5rem;
    // border: 4px solid $bg-f;
    // border-radius: 50% ;
    // text-align: center;
    img{
        width: 100%;
    }
}

// .profile-img{
//     // text-align: center;
// }
// .profile-img {
//     // width: 50%;
//     // height: 100%;
//     // border: 1px solid red;
// }
.profile-head h6{
    color: #333;
}
.profile-edit-btn{
    border: none;
    // border-radius: 1.5rem;
    width: 100%;
    // padding: 2%;
    font-weight: 400;
    background: $er-r;
    // color: $bg-f;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.ellen_tabe{
    background: $bg-f;
}
.ellen_hover{
    color:$bg-f !important;
    :hover{
        color:$bg-f !important;
    }
    :active{
        color:$bg-f !important;
    }
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid $bg-f;
}
.profile-work{
    // padding: 14%;
    padding-top: 14%;
    width: 100%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: $bg-f;
    font-weight: 600;
    // font-size: 14px;
}

.qty-box {
    border: 1px solid $bg-s;
    border-radius: 3px;
    display: block;
    height: 60px;
    margin: calc(50vh - 30px) auto 0 auto;
    width: 200px;
  }
.ellen_fs{
    width: 35px;
    margin: 0 5px;
}
//   span {
//     color: #62a8e2;
//     font-family: sans-serif;
//     float: left;
//     line-height: 60px;
//     text-align: center;
//     width: calc(200px/3);
//     -webkit-font-smoothing: antialiased;
//}
.qty-box {
    border: 1px solid #94c4ec;
    border-radius: 3px;
    display: block;
    height: 60px;
    margin: calc(50vh - 30px) auto 0 auto;
    width: 200px;
  }
  
  span {
    color: #62a8e2;
    font-family: sans-serif;
    float: left;
    line-height: 60px;
    text-align: center;
    width: calc(200px/3);
    -webkit-font-smoothing: antialiased;
  }
  .dec,
  .inc {
    height: 100%;
    
    &:hover {
      cursor: pointer;
    }
  }
//   -----------------------------------Link-----------------------
.ellen_col{
    min-width: 245px;
    margin-left: 5px;
}
//   -----------------------------Openclass-------------------------------------------
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* --------------- */
  
  /* xZoom Styles below */
  .xzoom-container { 
    display: inline-block;
  }
  
  .xzoom-thumbs {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .xzoom { 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);  
  }
  
  /* Thumbs */
  .xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  .xzoom-source, .xzoom-hidden {
    display: block;
    position: static;
    float: none;
    clear: both;
  }
  
  /* Everything out of border is hidden */
  .xzoom-hidden {
    overflow: hidden;
  }
  
  /* Preview */
  .xzoom-preview {
    border: 1px solid #888;
    background: #2f4f4f;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  }
  
  /* Lens */
  .xzoom-lens {
    border: 1px solid #555;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
    cursor: crosshair;
  }
  
  /* Loading */
  .xzoom-loading {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    opacity: .7;
    // background: url(../images/xloading.gif);
    width: 48px;
    height: 48px;
  }
  
  /* Additional class that applied to thumb when it is active */
  .xactive {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
    box-shadow: 0px 0px 3px 0px rgba(74,169,210,1); 
    border: 1px solid #4aaad2;
  }
  
  /* Caption */
  .xzoom-caption {
    position: absolute;
    bottom: -43px;
    left: 0;
    background: #000;
    width: 100%;
    text-align: left;
  }
  
  .xzoom-caption span {
    color: #fff;
    font-family: Arial, sans-serif;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px;
  }
//   ----------------------class_from--------------------------------
  
.ellen_form input[type="text"],
  .ellen_form input[type="number"],
  .ellen_form input[type="password"],
  .ellen_form input[type="datetime-local"],
//   .ellen_form input[type="file"],
  .ellen_form textarea,
  .ellen_form select {
    padding: 12px;
    font-size: 14px;
    border: 2px solid $bg-f;
    width: 100%;
    color: #999 ;

  }
  .ellen_form input[type="text"]:focus, 
  .ellen_form input[type="text"]:hover,
  .ellen_form input[type="number"]:focus,
  .ellen_form input[type="number"]:hover,
  .ellen_form input[type="password"]:focus,
  .ellen_form input[type="password"]:hover,
  .ellen_form input[type="datetime-local"]:focus,
  .ellen_form input[type="datetime-local"]:hover,
  .ellen_form textarea:focus,
  .ellen_form textarea:hover,
  .ellen_form select:focus,
  .ellen_form select:hover {
    outline: none;
    border-color: $mes;
  }
.ellen_fileimg{
    width: 10rem;
}
  .ellen_form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    // color: #999;
  }
  .ellen_form label {
    color: $bg-f;
  }
.custom-select{
    padding: 12px;
    height: 3rem ;
    border-radius: 0;
}
.ellen_floatLabel{
    min-height: 10rem;
}
// -------------------------------------------------------------------------
.slick-prev:before, .slick-next:before{
    color:$bg-f !important;
}
.slide img{
    display:inline-block !important;
}
// ---------------------Store-------------------------------
.yuru_th{
    background: $bg-f;
    color:$bg-s;
    border:none;
    text-align:center;
}
.btn-yuru-check{
    @extend .yuru_th;
    &:hover{
        background: $bg-hf;      
    }
}
// ----items
.yuru-product-grid{
    @extend .product-grid;
    border: none;
    color:$tx-h;
}

.product-grid .yuru-social-position {
    transform: translateY(50%) translateX(-50%);  
}

.yuru-antd-slider{
    margin-top:0px; 
}


// -----tab
.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 400px;
    margin-top: -16px;
   
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
    border: $bg-f;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: $bg-f;
    background: $tx-h;
    color:$tx-b;
    width: 300px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color:  $bg-f;
    background: $bg-f;
    color: $tx-h;
  }
  .yuru-product-ingriedient{
      width:50%;
  }
  
  .yuru-product-content {
    background-color: #fff;
    text-align: left;
    padding: 1rem 1rem;
    // margin: 0 auto;
    // position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    z-index: 1;
    // min-height: 10rem;
    
}
// ------itemdetail-----




// -------------------------------------------------------------------


// ----------------------Cart Table---------------------------------------------------------
.yuru_next{
    background: $er-r;
    border:none;
    padding: 10px,50px;
    border-radius: 0%;
   
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }  
    table thead {
        display: none;    
    }   
    table tr {
        margin-bottom: 10px;   
        display: block;    
    }    
    table td {   
    display: block;    
    text-align: right;
    
    }
    
    table td:before {    
    content: attr(data-label); 
        float: left;
        //text-transform: uppercase;    
    }   
    }
    
    
    